.gold {
    color: rgb(204, 185, 14);
}

.glitch-text p {
    position: absolute;
    font-weight: bold;
}


/* nagy sárga szöveg */

.text1 {
    top: 20%;
    left: 15%;
    font-size: 90px;
    color: rgb(79, 4, 114);
    font-family: Impact;
}



/* piros kis szöveg */

.text2 {
    top: 70%;
    left: 60%;
    font-size: 35px;
    color: red;
    font-family: Courier New;
}



/* fehér eldugott szöveg */

.text3 {
    top: 40%;
    left: 80%;
    font-size: 20px;
    color: white;
    transform: rotate(25deg);
}



/* zöld hibás szöveg */

.text4 {
    top: 10%;
    left: 50%;
    font-size: 60px;
    color: lime;
    font-family: monospace;
    transform: rotate(-15deg);
}

.glitch {
    animation: glitch 0.2s infinite;
}


@keyframes glitch {

    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(5px,-3px);
    }

    50% {
        transform: translate(-5px,3px);
    }

    75% {
        transform: translate(3px,5px);
    }

    100% {
        transform: translate(0);
    }

}

#itsme{

    display:none;
    position:fixed;

    background:transparent;

    color:white;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    z-index:10;

    width: auto;
    height: auto;

    transition:
    top 3s ease-in-out,
    left 3s ease-in-out,
    font-size 3s ease-in-out;

}


.shake {

    animation: shake 0.1s infinite;

}


@keyframes shake {

    0% {
        transform: translate(0,0);
    }

    25% {
        transform: translate(5px,-5px);
    }

    50% {
        transform: translate(-5px,5px);
    }

    75% {
        transform: translate(5px,5px);
    }

    100% {
        transform: translate(0,0);
    }

}

@keyframes moveGlitch {

0% {
    transform: translate(0,0);
}

25% {
    transform: translate(80px,30px);
}

50% {
    transform: translate(-40px,100px);
}

75% {
    transform: translate(50px,-40px);
}

100% {
    transform: translate(0,0);
}

}


#itsme.move {

    animation: moveGlitch 4s infinite;

}

#counter{

    position:fixed;
    top:15px;
    left:15px;

    color:white;
    font-size:30px;
    font-family:Arial;

    z-index:999;

}

#spring{

    display:none;
    position:fixed;
    inset:0;
    z-index:9999;

}

#spring img{

    width:100%;
    height:100%;
    object-fit:cover;

}

@keyframes flash{

    0%{
        opacity:1;
    }

    50%{
        opacity:0;
    }

    100%{
        opacity:1;
    }

}

.flash{

    animation: flash 0.6s infinite;

}

.flashFast{

    animation: flash 0.2s infinite;

}